.FAQ .title {
    margin-bottom: 3.5rem;
}

.FAQ .accordion-container {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.FAQ .accordion-item {
    transition: max-height 0.4s ease-out;
    padding: 4rem 0 4rem 4.6rem;
    border-bottom: 1px solid #fff;
    
    
}

.FAQ .accordion-item:last-child {
    border-bottom: none;
}

.FAQ .accordion-header:before {
    content: '+';
    font-size: 3.4rem;
    display: inline-block;
    right: 4.9rem;
    top: 0.5rem;
    
    position: absolute;
    /*background-image: url(../../images/plus.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;*/
    right: 2.5rem;
    width: 1.4rem;
}

.FAQ .accordion-header p {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    color: #fff;
    padding-right: 9rem;
}

.FAQ .accordion-header {
    position: relative;
    display: flex;
    gap: 1.77rem;
}

.FAQ .active .accordion-header:before {
    content: '-';
}

.FAQ .active .accordion-content {
    max-height: 50rem;
}

.FAQ .accordion-content {
    overflow: hidden;
    padding: 0;
    max-height: 0;
}

.FAQ .accordion-content p {
    padding-top: 3rem;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 150%;
    color: #fff;
    padding-right: 10rem;
}